.tile {
  display: grid;
  place-content: center;
  width: 70px;
  height: 70px;
}

.tile .chess-piece {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing
}

.black-tile {
  background-color: #b88b4a;
}

.white-tile {
  background-color: #e3c16f;
}

/* .tile img {
  width: 69px;
} */
